.DS_Store
/.idea
/.phpunit.cache
/.scannerwork
/vendor
/composer.lock
/bin
/build
/micro
/app/compiled
/locks
/tests/writable/**
!tests/writable/.gitkeep
/tests/build-mock/source/var-dump.css
/xrdebug.phar
/schwager.json
/app/src/var-dump.css
